# 环境变量文件
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Conda
.conda/
/env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# 日志文件
logs/
*.log

# Docker
.docker/
docker-compose.override.yml

